h1 {
  text-align: center;
  font-size: 5em;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(255, 255, 255)
}
body {
  position: relative;
  background-image: url("../spaceheader.jpg");
  background-repeat:no-repeat;
  background-size:100% 100vh;
}
img {
  display: flex;
  padding: 100px;
  margin: 0 auto;
  border-radius: 100px;
}
p {
  text-align: center;
  font-family: arial;
  font-size: 2em;
  color: rgb(255, 255, 255)
}
